.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card1 {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.h3 {
  margin-bottom: 5px;
}

.read-the-docs {
  color: #888;
}
.butt{
  text-align: center;
  background-color: rgb(41, 41, 210);
  color: #fff;
  font-size: 15px;
  width: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card {
    padding: 10px;
  }
}